<span class="pk-badge @_class" style="@Style">
    @ChildContent
</span>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool TextWrap { get; set; }

    private string _class
    {
        get
        {
            var value = Class;
            if (!TextWrap)
            {
                value += " text-nowrap";
            }
            return value;
        }
    }
}
