@using Kooco.Pikachu.Services
@inject DateTimeService DateTimeService

<span>@DateTimeService.Humanize(Time, Utc)</span>

@code {
    [Parameter] public DateTime Time { get; set; }
    [Parameter] public bool Utc { get; set; } = true;
}