@inherits PikachuComponentBase

<div class="payout-options-container">
    <h5 class="text-dark">@L["PayoutDetails:BatchActions"]</h5>
    <div class="payout-batch-actions">
        <PikachuButton Class="pk-btn-sm pk-btn-outline-primary" Disabled="!AnySelected">
            @L["PayoutDetails:TransferSelectedToWallet"]
            @SelectedCountText
        </PikachuButton>
        <PikachuButton Class="pk-btn-sm pk-btn-outline-warning" Disabled="!AnySelected">
            @L["PayoutDetails:MarkSelectedAsPaid"]
            @SelectedCountText
        </PikachuButton>
    </div>
    <p class="text-muted fs-xs m-0 mt-1">
        @L["PayoutDetails:PaymentActionsOnlyAffectUnpaidRecords"]
    </p>
</div>

@code {
    [Parameter] public bool AnySelected { get; set; }
    [Parameter] public string SelectedCountText { get; set; }
}
