@inherits PikachuComponentBase

<Card>
    <CardBody>
        <Div Class="d-flex align-items-center justify-content-between">
            <h4 class="m-0">@L["RecentOrders"]</h4>
            <Button Class="btn-link">@L["ViewAll"]</Button>
        </Div>
        <Divider></Divider>
    </CardBody>
</Card>