@page "/Campaigns"
@inherits PikachuComponentBase
@inject NavigationManager NavigationManager

<Row>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnTablet">
        <h3 class="text-dark">@L["Campaigns"]</h3>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnTablet" TextAlignment="TextAlignment.End">
        <PikachuButton Class="pk-btn-sm pk-btn-primary" IconClass="fas fa-add"
                       Clicked="@(() => NavigationManager.NavigateTo("/Campaigns/Create"))">
            @L["NewCampaign"]
        </PikachuButton>
    </Column>
</Row>


