@inherits LayoutComponentBase

<PageTitle>Kooco.Pikachu.Blazor.Store</PageTitle>

<div class="page">


    <main>
        <div class="top-row px-4">
            <div class="logo"><img src="assets/img/logo.png" /></div>
                 
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
