@using Kooco.Pikachu.InventoryManagement

<Span>
    @if (Value == 0)
    {
        <Span>+0</Span>
    }
    else
    {
        <Span Class="@(Value > 0 ? "text-success" : "text-danger")">
            @InventoryLogConsts.GetAmountString(Value)
        </Span>
    }
</Span>

@code {
    [Parameter] public int Value { get; set; }
}
