@page "/GroupBuyManagement/GroupBuyList"
@using Volo.Abp.MultiTenancy
@inherits PikachuComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>GroupBuyList</h3>

@code {
 
}
<span>@TestProperty</span>

