@using Kooco.Pikachu.InboxManagement

<div>
    <span class="type-icon">@Icon</span>
</div>

@code {
    [Parameter] public NotificationDto Notification { get; set; }
    
    private string Icon => Notification.EntityType switch
    {
        NotificationEntityType.Order => "📦",
        _ => ""
    };
}
