@using Kooco.Pikachu.InboxManagement
@using NotificationType = Kooco.Pikachu.InboxManagement.NotificationType

<div class="text-center">
    <span class="type-icon">@Icon</span>
</div>

@code {
    [Parameter] public NotificationDto Notification { get; set; }

    private string Icon => Notification.Type switch
    {
        NotificationType.Order => "📦",
        NotificationType.BankTransfer => "💳",
        NotificationType.Payment => "💰",
        _ => ""
    };
}