@using Kooco.Pikachu.InboxManagement
@using static Kooco.Pikachu.InboxManagement.NotificationType

<div class="text-center">
    <span class="type-icon @IconColor">
        <i class="fas @Icon"></i>
    </span>
</div>

@code {
    [Parameter] public NotificationDto Notification { get; set; }

    private string Icon => Notification.Type switch
    {
        Order => "fa-box",
        BankTransfer => "fa-credit-card",
        Refund => "fa-dollar",
        Return or Exchange => "fa-refresh",
        Payment => "fa-coins",
        _ => "fa-circle"
    };

    private string IconColor => Notification.Type switch
    {
        Order => "purple",
        BankTransfer => "green",
        Refund => "red",
        Return or Exchange => "orange",
        Payment => "gold",
        _ => string.Empty
    };
}