#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.input-container {
    position: relative;
    display: inline-block;
}

    .input-container > .tag-input {
        background-color: #fff;
        border: 1px dashed;
        width: 100px;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 2px 10px 2px 30px;
        font-size: small;
    }

    .input-container .tag-input:focus {
        outline: none;
    }

    .input-container .tag-input-placeholder-icon {
        color: gray;
        position: absolute;
        left: 10px; /* Adjust as needed */
        top: 5px; /* Adjust as needed */
    }

.item-tags {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: small;
    background-color: #355dff !important
}

.form-control .badge-close span {
    padding-left: 3px;
}

.border-radius-0 {
    border-radius: 0px;
}

.b-file-picker-files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50px;
}

.b-file-picker .b-file-picker-file {
    min-width: 5rem;
    max-width: 15rem;
    border: 1px solid lightgray;
    border-radius: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.sku-preview {
    position: relative;
    word-wrap: break-word;
    padding: 35px;
    border: 1px dashed #967124;
    border-radius: 5px;
    background-color: #fffcea;
}

.sku-preview-label {
    font-size: x-large;
    font-weight: 600;
    color: #000;
}

.fs-small {
    font-size: small;
}

.card,
.card-body,
.modal-content,
.form-control,
.form-select {
    border-radius: 0.15rem;
}

.image-list-container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 1px dashed rgb(150, 113, 36);
}

.image-container {
    position: relative;
    height: 100px;
    width: auto;
    margin-right: 10px;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

    .image-container img.blur-image {
        height: 100%;
        width: 7em;
        object-fit: contain;
        border-radius: 0.5rem;
        border: 1px solid rgb(150, 113, 36);
        padding: 0.5em;
    }

    .image-container:hover img.blur-image {
        filter: blur(2px);
    }

    .image-container .delete-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        color: red;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-container:hover .delete-button {
        opacity: 1;
    }

.b-file-picker .b-text-drop {
    padding: 60px !important;
    text-transform: capitalize;
    font-size: large;
    font-weight: bolder;
    color: #000;
    background-color: #fffcea;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners {
    -moz-appearance: textfield;
}

.item-image-thumbnail {
    height: 100px;
    width: auto;
}

.lpx-topbar {
    border-radius: 0px !important;
}

.accordion-button::after {
    margin-right: unset;
}


.custom-check-group {
    display: inline-block;
    padding: 0.1rem;
}

    .custom-check-group .form-check-input:not(:checked) {
        background-color: white;
        border: 1px solid lightgrey !important;
    }

.invalid {
    border: 1px solid #c00d49 !important;
}

.validation-message {
    font-size: smaller;
    margin-top: 2px;
    color: #c00d49;
}

.search-bar {
    border-color: lightgrey;
}

.b-table thead {
    background: #F8F9FA;
}

    .b-table thead th {
        font-weight: 600;
        color: #000;
        font-size: 13px;
    }

.b-table tbody tr {
    cursor: default !important;
}

.nav.nav-tabs {
    background: transparent;
}

.nav-tabs .nav-item {
    padding: 5px 10px;
}

.tab-content {
    padding: 10px 0;
    background: transparent !important;
}

.tab-pane .card {
    border-color: #ffffff;
    background-color: #ffffff;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
    color: #000;
}

.bg-lightgrey {
    background-color: var(--pk-lightgrey);
}

.bg-success-light {
    background: var(--pk-success-light);
}

.bg-warning-light {
    background: var(--pk-bg-warning-light);
}

.bg-danger-light {
    background: var(--pk-bg-danger-light);
}

.pk-card {
    padding: 40px 20px;
    border-radius: 20px;
    color: #000;
}

    .pk-card > .pk-card-inner {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

        .pk-card > .pk-card-inner img {
            height: 50px;
            width: auto;
        }

.rounded-cards .card {
    border-radius: 20px;
}

:root {
    --pk-font-family: Inter, sans-serif;
    --pk-primary: #6366F1;
    --pk-primary-light: #6366F190;
    --pk-primary-dark: #4549ED;
    --pk-success-light: #F0FDF9;
    --pk-bg-warning-light: #FFFAEB;
    --pk-danger: #F04438;
    --pk-danger-light: #F0443890;
    --pk-danger-dark: #FD3325;
    --pk-bg-danger-light: #FEF3F2;
    --pk-light: #FFF;
    --pk-semi-light: #FFFFFF80;
    --pk-dark: #000;
    --pk-semi-dark: #00000080;
    --pk-lightgrey: #E9E9E9;
}

.table > :not(caption) > * > * {
    color: unset;
}

.pk-btn {
    font-family: var(--pk-font-family);
    border-width: 1px;
    border-color: transparent;
    background: transparent;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: 15px;
    padding: 0.75rem 1rem;
    color: #000;
}

    .pk-btn:disabled {
        cursor: not-allowed;
    }

.pk-btn-sm {
    font-size: 13px;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.pk-btn-primary {
    background-color: var(--pk-primary);
    color: var(--pk-light);
}

    .pk-btn-primary:hover {
        background-color: var(--pk-primary-dark);
    }

    .pk-btn-primary:active {
        background-color: var(--pk-primary);
    }

    .pk-btn-primary:disabled {
        background-color: var(--pk-primary-light);
        color: var(--pk-light);
    }

.pk-btn-outline-primary {
    border-color: var(--pk-primary-light);
    color: var(--pk-primary);
    background: transparent;
}

    .pk-btn-outline-primary:hover {
        background-color: var(--pk-primary);
        color: var(--pk-light);
    }

    .pk-btn-outline-primary:active {
        background-color: var(--pk-primary-dark);
        color: var(--pk-light);
    }

    .pk-btn-outline-primary:disabled {
        color: var(--pk-primary-light);
        background-color: transparent;
    }

.pk-btn-light {
    background: var(--pk-light);
    color: var(--pk-dark);
}

    .pk-btn-light:hover {
        background-color: var(--pk-lightgrey);
    }

    .pk-btn-light:disabled {
        color: var(--pk-semi-dark);
    }

.pk-btn-transparent {
    background: transparent;
    color: var(--pk-dark);
}

    .pk-btn-transparent:hover {
        background-color: var(--pk-lightgrey);
    }

    .pk-btn-transparent:disabled {
        color: var(--pk-semi-dark);
    }

.pk-btn-outline-danger,
.table .pk-btn-outline-danger {
    border-color: var(--pk-danger-light);
    color: var(--pk-danger);
    background: transparent;
}

    .pk-btn-outline-danger:hover {
        background-color: var(--pk-danger);
        color: var(--pk-light);
    }

    .pk-btn-outline-danger:active {
        background-color: var(--pk-danger-dark);
        color: var(--pk-light);
    }

    .pk-btn-outline-danger:disabled {
        color: var(--pk-danger-light);
        background-color: transparent;
    }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    --bs-nav-tabs-link-active-color: var(--pk-primary) !important;
    --bs-nav-tabs-link-active-border-color: var(--pk-primary) !important;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid var(--pk-primary);
}

.pk-btn .spinner-border {
    --bs-spinner-width: 15px;
    --bs-spinner-height: 15px;
    --bs-spinner-border-width: 2px;
}

.rounded-cards .form-label {
    color: #000;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
    color: unset;
}

.search-bar {
    padding-left: 50px;
    background: url('https://cdn-icons-png.flaticon.com/512/54/54481.png') no-repeat 15px center;
    background-size: 20px 20px;
}

.rounded-cards .b-file-picker .b-text-drop {
    background-color: #fafafa;
}

.container-less-filepicker .b-file-picker-files-container {
    display: none;
}

.tenant-settings .image-thumbnail {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .tenant-settings .image-thumbnail img {
        height: 160px;
    }

.website-settings .image-thumbnail {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .website-settings .image-thumbnail img {
        max-height: 330px;
    }

.flatpickr-calendar.static {
    top: unset;
}

.table-responsive {
    min-height: 580px;
    margin-bottom: 1rem;
}

.horizontal-radiogroup > .form-check-inline {
    display: block !important;
}

.b-is-autocomplete.b-is-autocomplete-multipleselection.focus {
    background-color: unset;
}

.table-responsive:has(.rm-table-min-height) {
    min-height: unset;
}

.rm-table-min-height {
    min-height: unset !important;
}
