body {
    
}

:root .lpx-brand-logo {
        --lpx-logo: url('https://kooco.oss-cn-hongkong.aliyuncs.com/logo.png ');
    --lpx-logo-icon: url('https://kooco.oss-cn-hongkong.aliyuncs.com/logo-thumbnail ');
/*    background-image: url('https://kooco.oss-cn-hongkong.aliyuncs.com/logo.png')!important;*/
}
.lpx-landing-hero-section {
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.notification-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    margin-left:3px;
    border-radius: 50%;
   
    top: 5px;
    right: 10px;
    min-width: 10px;
    min-height:10px;
    text-align: center;
    
}
