@page "/groupbuysearch/{tenantName}"
@layout EmptyLayout

@using Microsoft.Extensions.Configuration;
@inherits PikachuComponentBase
@inject NavigationManager NavigationManager
@inject IConfiguration configuration;
@inject IMessageService _message
<div class="lpx-content bg-white">
<section>
              <div class="card bg-white lpx-landing-hero-section">
                <div class="card-body">
                  <div class="row align-items-center">
                      <div class="col-4"></div>
                    <div class="col-4">
                    <img src="/images/logo/leptonx/pngegg.png" style="height:150px;" class="card-img-top" />
                    </div>
                    <div class="col-4"></div>
                  </div>
                </div>
               @*  <div class="card-footer bg-black d-block d-md-flex flex-wrap justify-content-between pt-3 px-2 px-lg-5">
             
                </div> *@
              </div>
            </section>
    <section>
        <div class="card bg-white lpx-landing-hero-section">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <img src="/images/logo/leptonx/—Pngtree—coming soon banner style_8316626.png" style="height:300px;" class="card-img-top" />
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
             <div class="card-footer bg-black d-block d-md-flex flex-wrap justify-content-between pt-3 px-2 px-lg-5">
                <div class="col-3"></div>
                <div class="col-6">
                    
                    <Field>
                      
                        <FieldLabel>@L["Please Enter GroupBuy"]</FieldLabel>
                        <TextEdit @bind-Text="@GroupBuy" />
                   
                    </Field>
                    <Button Type="@ButtonType.Button" Clicked="RedirectToGroupBuy" Class="btn btn-primary">@L["Search"]</Button>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>
  @*   <section>
        <div class="card bg-white lpx-landing-hero-section">
            <div class="card-body">
                <div class="row align-items-center">
                
                </div>
            </div>
            @*  <div class="card-footer bg-black d-block d-md-flex flex-wrap justify-content-between pt-3 px-2 px-lg-5">

            </div> *@
   @*      </div>
    </section>  *@

</div>
