@using Volo.Abp.AspNetCore.Components.Web.LeptonXLiteTheme.Themes.LeptonXLite;
@using Volo.Abp.DependencyInjection

@inherits Branding
@attribute [ExposeServices(typeof(Branding))]
@attribute [Dependency(ReplaceServices = true)]

<div class="container-fluid" style="background-image: url('images/logo/logo.png');
    background-repeat: no-repeat;
    background-size: auto 32px;
    background-position: left 0;
    height: 32px;">
</div>


@code{
    string name = "電商3.0";
}